img {
    width: 55px;
}

nav {
    margin: 0px;
    background-color: #466481;
}

.btn-primary {
    color: #00FFFF;
    background-color: black;
    border: 2px solid #00FFFF;
}

.btn-primary:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.btn-success {
    background-color: black;
    color: #15E95C;
    border: 2px solid #15E95C;
}

.btn-success:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

