<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-4">
          <p><small>Ready New Mortgage supports Vets in Tech</small></p>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="row col-md-2 mx-auto">
          <img alt="logo" src="/assets/images/logo.png">
        </div>
        <div class="col-md-4">
          <p><small>This site was made by Sapper Coding</small></p>
        </div>
      </div>
    </div>
  </footer>
