<h1 class="sectionName">GPYC Events Calendar</h1>
<div id="calendar"></div>
<div id="myModal0" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h1 id="title"></h1>
    <p id="content"></p>
  </div>
</div>


<div id="myModal1" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <button class="btn btn-primary butt1" (click) = "student_req()">Student request</button>
    <button class="btn btn-primary butt2" (click) = "captain_req()">Captain request</button>
  </div>
</div>

<div id="myModal2" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <form (submit) = "student_submit()">
      <h1>Crew Seeking Vessel</h1>
      <label for="">Date</label>
      <input type="text" name="date" disabled [(ngModel)] ="date_display">
      <label>Time From: </label>
      <input (click) ="timeFrom()" value ={{student.timeFrom}}>
      <label>Time To: </label>
      <input (click) ="timeTo()" value ={{student.timeTo}}>
      <label for="">Message to Would-be Captains:</label>
      <textarea name="message" cols="30" rows="10" [(ngModel)] ="student.message"></textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click) ="closeModal()">Close</button>
        <button class="btn btn-info">Submit</button>
      </div>
      <br/>
    </form>
  </div>
</div>

<div id="myModal3" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <form (submit)="captain_submit()">
      <h1>Captain Seeking Crew</h1>

      <label for="">Date</label>
      <input type="text" name="date" disabled [(ngModel)]="date_display">

      <label>Time From: </label>
      <input (click)="timeFrom()" value= {{captain.timeFrom}}>

      <label>Time To: </label>
      <input (click)="timeTo()" value= {{captain.timeTo}}>

      <label for="">Vessel:</label>
      <input type="text" name="vessel" [(ngModel)] ="captain.vessel">

      <label for="">Captains Log (Message):</label>
      <textarea name="message" cols="30" rows="10" [(ngModel)]="captain.message"></textarea>

      <label for="">Number of Crew You Seek:</label>
      <input type="number" name="num_of_crew" [(ngModel)] ="captain.NumOfCrew">
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click) ="closeModal()">Close</button>
        <button class="btn btn-info">Submit</button>
      </div>
      <br/>
    </form>
  </div>
</div>

