<body>
  <section class="top-container">
    <div class="top-box top-box-a">
      <h4>Welcome!</h4>
      <p class="content">to the Great Pond Yacht Club women’s learn-to-sail program.  This program is designed to give women the tools and know-how to sail with confidence in whatever capacity they choose.  </p>
    </div>
    <div class="top-box top-box-a">
      <h4>Mentorship</h4>
      <p class="content">The pressure-free mentor approach and flexible schedule will give you the freedom to set your own learning pace.  The sailing mentors (captains) are GPYC members that look forward to getting to know you and helping you learn; whether your goals are to become a comfortable mate or to take the helm and captain your first race.  We can help!</p>
    </div>
    <header class="showcase">
    </header>
  </section>

  <section class="top-container">
      <div class="top-box top-box-a">
        <h4>HOW IT WORKS</h4>
        <p class="content">All potential students first create a profile with basic information.  There is no commitment to sail at this time.  However, to sign up for a sail, all students must first have a WSP profile and a corresponding profile code.</p>
        <button class="btn btn-primary">Register Your Student/Captain Profile</button>
        <button class="btn btn-primary">Login</button>
      </div>
      <div class="top-box top-box-a">
        <h4>Captains</h4>
        <p class="content">The captains are your mentors and are offering the sailing instruction on the day and time listed on the events calendar.</p>
        <button class="btn btn-primary">Offer to teach on the calender</button>
      </div>
      <header class="showcase1">
      </header>
    </section>

    <section class="top-container">
        <div class="top-box top-box-a">
          <h4>Events Calender</h4>
          <p class="content">On our events calendar you will see boat names on certain dates with a time frame.  Clicking on the boat name will take you to a message from the captain with information about the boat you would be on, appropriate skill level for this sail if any, how many students she/he can accommodate, pick up and drop off location, and contact information to sign up or ask questions.</p>
          <button class="btn btn-primary">Hump to Events Calender</button>
        </div>
        <div class="top-box top-box-a">
          <h4>Request a Captain</h4>
          <p class="content">Students may also put a request for a captain on the calendar.  Just click on the day number within the calendar that you are hoping to sail.  For example, if you are hoping to sail on Tuesday, July 9…click on the number 9 and a drop down list will appear.   Click on Request for Captain.  The calendar will then ask for your profile code and the time frame you are hoping for and populate the calendar accordingly.  Captains will be alerted there is a request and if available, they will contact you.  </p>
        </div>
        <header class="showcase2">
        </header>
      </section>
</body>